*{
background-color: #A5F9F1;
}

.title{
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}
.instrection{
    position: relative;
    text-align: right;
    font-size: 30px;
}
.word{
display: table-row;

}
.word,input{
    height:30px;
    width:30px;
}
.buttons{
  
    align-items: center;
}
.buttons input{
   width: 150px;
}
.non-editable{
    pointer-events:none;
}
#submit,#start{
    background-color: red;
   height: 50px;
}
.box{
    height: 50px;
    width:50px;
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }
  
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-body {
    padding: 10px 15px;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }